body{
  background-color: rgb(25, 25, 25);
color: white;
font-family: Arial;
}

h2{
  font-size: 35px;
  font-weight: bold;
}
.board{
  font-size: 20px;
  font-weight: bold;
}

img{
  height: 50px;
}

button{
  background-color: transparent;
  border: 1px solid white;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  margin-right: 10px;
  cursor: pointer;
}